.about_container{
    width: 100%;
    padding: 30px 50px;
    background-color: var(--light) ;
    margin-top: 30px;
}
section{
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    background-color: var(--light);
    transform: scaleX(1.5);
}
section .content{
    position: relative;
    z-index: 1;
}
.resume{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.resume_body{
    width: 1000px;
    display: flex;
    gap: 20px;
}
.resume_left{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 20px;
    padding-right: 20px;
}
.resume_right{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 30px;
    color: var(--black-color);
}
.line{
    width: 100%;
    height: 1px;
    background-color: var(--black-color);
}
.cont_{
    font-size: 12px;
    font-weight: 500;
    color: var(--black-color);
}

.value_{
    font-size: 11px;
    font-weight: 400;
    color: var(--black-color);
}
.skills{
    font-size: 9px;
    padding: 1px 3px;
    background-color: var(--hover-color);
    color: var(--black-color);
    margin: 0 6px 4px 0;
    border-radius: 2px;
    font-weight: 500;
    white-space: nowrap;
}
.skills_{
    font-size: 13px;
    font-weight: 600;
    color: var(--black-color);
}
.headde{
    font-weight: 600;
    font-size: 16px;
    padding: 5px 20px;
}
.descPaper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 20px;
    
}
.tit{
    font-weight: 600;
    font-size: 14px;
}
.subtit{
    font-weight: 500;
    font-size: 13px; 
}
.date{
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
}
.description{
    font-weight: 400;
    font-size: 11px;
}
.list{
    font-weight: 300;
    font-size: 10px;
    
}
.list li{
   list-style-type: square; 
   margin-bottom: 10px;
}

