.header_cont{
    display: flex;
    /* width: 100%; */
    height: 100%;
    width: 100vw;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: var(--light);
    color: var(--main-color);
}
.header_logo{
    font-weight: 800;
    font-size: 30px;
}
.header_logo span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background-color: var(--light_primary);
}
.header_logo div{
    display: inline-block;
    margin-left: -17px;
    font-style: italic;
}

.header-links{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
font-weight: 600;

}
.header-links span:hover{
    color: var(--light_touch);
    /* text-decoration: underline; */
}
.active_link{
    text-decoration: none;
    color: var(--main-color);
}